In [1]:
import os
os.chdir('../')

from src.data import read_csv_headlines


paths = [
    "csvs/all-data.csv",
    "csvs/stock_news.csv",
]

df1 = read_csv_headlines(paths)

In [2]:
import pandas as pd
df = pd.read_csv(paths[0])
df.loc[:,['headline','label']]

                                               headline     label
0     According to Gran , the company has no plans t...   neutral
1     Technopolis plans to develop in stages an area...   neutral
2     The international electronic industry company ...  negative
3     With the new production plant the company woul...  positive
4     According to the company 's updated strategy f...  positive
...                                                 ...       ...
4841  LONDON MarketWatch -- Share prices ended lower...  negative
4842  Rinkuskiai 's beer sales fell by 6.5 per cent ...   neutral
4843  Operating profit fell to EUR 35.4 mn from EUR ...  negative
4844  Net sales of the Paper segment decreased to EU...  negative
4845  Sales in Finland decreased by 10.5 % in Januar...  negative

[4846 rows x 2 columns]

In [3]:
import pandas as pd
len(pd.read_csv(paths[1]))

26000

In [2]:
from src.data.database import DatabaseHandler , PostgreSqlDatabaseHandler
def runTest(handler:DatabaseHandler):
    handler.frame_to_database(df1,name="traindata")

handler = PostgreSqlDatabaseHandler(
    config={
        "host" : "172.17.0.1",
        "user" : 'postgres',
        "password" : 'hello',
        "database" : 'sentistock'
    }
)
# runTest(handler)

In [5]:
handler.load_from_database(table_name='traindata')

                                                headline     label
0      According to Gran , the company has no plans t...   neutral
1      Technopolis plans to develop in stages an area...   neutral
2      The international electronic industry company ...  negative
3      With the new production plant the company woul...  positive
4      According to the company 's updated strategy f...  positive
...                                                  ...       ...
30841  Boston Scientific (BSX) Q1 Earnings Top, 2022 ...  Positive
30842  Producer sentiment improves with strengthened ...  Positive
30843  Equinix Declares Quarterly Dividend on Its Com...  Positive
30844  FEATURE-'Love Island' dumps fast fashion for s...  Positive
30845  After Plunging 15.5% in 4 Weeks, Here's Why th...  Positive

[30846 rows x 2 columns]

In [6]:
handler.execute("SELECT COUNT(*) FROM traindata;")

[(30846,)]

In [11]:
from src.data.database import DatabaseHandler , MongoDatabaseHandler
def runTest(handler:DatabaseHandler):
    handler.frame_to_database(df1,name="traindata")

handler = MongoDatabaseHandler(
    config={
        "host" : "172.17.0.2",
        "user" : 'mongo',
        "password" : 'hello',
        "database" : 'sentiStock'
    }
)
# runTest(handler)